<link rel="stylesheet" type="text/css" href="/css/index.css">
{{> navigation }}
<div class="container">
    <div class="main-container">
        <div class="rooms-container">
            <a href="/habitaciones">
                <img src="../img/habitaciones.jpg" title="Habitaciones">
                <h2 class="rooms-title">Habitaciones</h2>
            </a>
        </div>
        <div class="restaurant-container">
            <a href="">
                <img src="../img/restaurante.jpg" title="Restaurante">
                <h2>Restaurante</h2>
            </a>
        </div>
        <div class="vehicles-container">
            <a href="/vehiculos">
                <img src="../img/autos.jpg" title="Vehículos">
                <h2>Vehículos</h2>
            </a>
        </div>
        <div class="services-container">
            <img src="../img/servicios.jpg" title="Servicios">
            <h2>Servicios</h2>
        </div>
    </div>
</div>

{{> footer }}