{{> navigation}}

<div class="container">
    <div style="padding: 50px 0;">
        <div style="heigth: 200px; width: 500px; margin: auto; background: #ddd; padding: 20px 0; border: 1px solid #000; text-align: center;">
            <h3>Welcome {{user.nombreCliente}}</h3>
            <h4>{{user.userNameCliente}}</h4>
        </div>
    </div>
</div>

{{> footer}}