h2, h3 {
    padding: 15px 0 0;
    text-align: center;
}

h3 a {
    color: #000;
}

h3 a:hover {
    color: #444;
}

.list {
    padding: 0 17.5px 17.5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.datos {
    margin: 15px auto;
    padding: 15px 0 0 0;
    border: 1px solid #000;
    width: 280px;
    height: 200px;
    background: #fffd;
}

.datos a {
    text-decoration: none;
}

.tiempo {
    margin: 15px auto;
    width: 250px;
    text-align: center;
}

.vacio {
    height: 150px;
    width: 400px;
    margin: 40px auto;
    padding: 40px 0;
    border: 1px solid #000;
    font-size: 35px;
    text-align: center;
}
