<link rel="stylesheet" type="text/css" href="/css/vehiculos.css">

{{> navigation}}

    <div class="container">
        <div class="vehicles_container">
            <div class="info-container">
                <div class="div_seccion_title">
                    <h2 class="seccion-title">BMW</h2>
                </div>
                <div class="vehicles_img">
                        <img src="/img/BMW1.jpg" title="Imagen 1" name="hab1">
                        <img src="/img/BMW2.jpg" title="Imagen 2">
                </div>
                <div class="btn_Ver">
                        <button class="ver">Ver</button>
                </div>
            </div>

            <div class="info-container">
                <div class="div_seccion_title">
                    <h2 class="seccion-title">Kia Picanto</h2>
                </div>
                <div class="vehicles_img">
                        <img src="/img/Kia1.jpg" title="Imagen 1" name="hab1">
                        <img src="/img/Kia2.jpg" title="Imagen 2">
                </div>
                <div class="btn_Ver">
                        <button class="ver">Ver</button>
                </div>
            </div>

            <div class="info-container">
                <div class="div_seccion_title">
                    <h2 class="seccion-title">Toyota</h2>
                </div>
                <div class="vehicles_img">
                        <img src="/img/toyota1.jpg" title="Imagen 1" name="hab1">
                        <img src="/img/toyota2.jpg" title="Imagen 2">
                </div>
                <div class="btn_Ver">
                        <button class="ver">Ver</button>
                </div>
            </div>

            <div class="info-container">
                <div class="div_seccion_title">
                    <h2 class="seccion-title">Audi</h2>
                </div>
                <div class="vehicles_img">
                        <img src="/img/audi1.jpg" title="Imagen 1" name="hab1">
                        <img src="/img/audi2.jpg" title="Imagen 2">
                </div>
                <div class="btn_Ver">
                        <button class="ver">Ver</button>
                </div>
            </div>
        </div>
    </div>

{{> footer}}