
{{#if success}}

<div class="mensaje"  style="width: 100px; font-weight:bold; text-align: center">
    <div>
        {{success}}
    </div>
</div>

{{/if}}

{{#if message}}

<div class="mensaje"  style="width: 100px; font-weight:bold; text-align: center; background: #000">
    <div>
        {{message}}
    </div>
</div>

{{/if}}