<link rel="stylesheet" href="/css/navigation.css">

<div class="container">
    <div class="hotel"><i class="fas fa-building"></i> <a href="index.html">HOTEL</a></div>
    <header>
        <nav class="nav">
            <ul class="nav__ul">
                <li class="nav__li"><i class="fas fa-home"></i><a href="/">Inicio</a></li>
                <li class="nav__li"><i class="fas fa-door-closed"></i><a href="/habitaciones">Habitaciones</a></li>
                <li class="nav__li"><i class="fas fa-utensils"></i><a href="">Restaurante</a></li>
                <li class="nav__li"><i class="fas fa-car"></i><a href="/vehiculos">Vehículos</a></li>
                <li class="nav__li"><i class="fas fa-tshirt"></i><a href="">Otros Servicios</a></li>
                <li class="nav__li"><a href="/login" class="user-account"><i class="fas fa-user"></i></a>

                   {{#if user}}
                    
                    <div class="submenu">
                        <ul>
                            <li><a href="/reservas">Reservas</a></li>
                            <li><a href="/logout">Cerrar Sesión</a></li>
                        </ul>
                    </div>

                    {{else}}

                        <div class="submenu">
                            <ul>
                                <li><a href="/login">Iniciar Sesión</a></li>
                                <li><a href="/registro">Crear Cuenta</a></li>
                            </ul>
                        </div>
                    {{/if}}

                </li>
            </ul>
        </nav>
    </header>
</div>