<link rel="stylesheet" type="text/css" href="/css/disponible.css">

<div class="container">
    <div class="reservada">
        <div class="check">
            <span class="icon-success"></span>
        </div>
        <div class="info">
            Habitación no Disponible!
        </div>
        <div class="div-button">
            <a href="/habitaciones" class="btn-link">
                <button class="aceptar">Aceptar</button>
            </a>
        </div>
    </div>
</div>