
<link rel="stylesheet" type="text/css" href="/css/reservada.css">

<div class="container">
    <div class="reservada">
        <div class="check">
            <span class="icon-success"></span>
        </div>
        <div class="info">
            Reservación Realizada Exitosamente!
        </div>
        <div class="div-button">
            <a href="/" class="btn-link">
                <button class="aceptar">Aceptar</button>
            </a>
        </div>
    </div>
</div>