
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="css/checkin.css">

    <div class="checkin-container">
        <h1>Registrarse</h1>
        <form action="/signup" method="POST">
            <label for="name">Nombre</label>
            <input type="text" placeholder="name" name="nombre" autofocus>

            <label for="username">Nombre de Usuario</label>
            <input type="text" placeholder="username" name="username">

            <label for="email">Email</label>
            <input type="email" placeholder="email" name="email">

            <label for="password">Contraseña</label>
            <input type="password" placeholder="password" name="password">

            <input type="submit" value="Registrar">
        </form>
    </div>