<link rel="stylesheet" type="text/css" href="css/login.css">

    <div class="login-container">
        <h1>Acceder</h1>
        <form >
            <label for="email">Email</label>
            <input type="email" placeholder="Email" autofocus>

            <label for="password">Password</label>
            <input type="password" placeholder="Password">

            <input type="submit" value="Log In">

            <a href="/registro">¿No tienes una cuenta?</a> <br>
            <a href="/">Volver al Inicio</a>
        </form>
    </div>
